[package]
name = "swu-app"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "swu-app"

[dependencies]
actix-cors = "0.6.4"
actix-utils = "3.0.1"
actix-web = "4.2.1"
actix-web-httpauth = "0.8.0"
anyhow = "1.0.70"
base64 = "0.21.0"
config = "0.13.3"
jsonwebtoken = "8.2.0"
once_cell = "1.17.0"
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.17.0", features = ["rt-tokio"] }
secrecy = { version = "0.8.0", features = ["serde"] }
serde = { version = "1.0.149", features = ["derive"] }
serde_json = "1.0.91"
serde-aux = { version = "4.0.0", default-features = false }
thiserror = "1.0.37"
time = { version = "0.3.14", features = ["std"] }
tracing = { version = "0.1.36", features = ["log"] }
tracing-actix-web = "0.7.2"
tracing-bunyan-formatter = "0.3.6"
tracing-log = "0.1.3"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = { version = "0.3.15", features = [
  "registry",
  "env-filter",
] }
uuid = { version = "1.1.2", features = ["v4"] }
dotenvy = "0.15.7"
email_address = "0.2.4"

[dependencies.reqwest]
version = "0.11.12"
features = ["json", "rustls-tls"]
default-features = false

[dependencies.sqlx]
version = "0.6.2"
default-features = false
features = [
  "runtime-actix-rustls",
  "macros",
  "postgres",
  "uuid",
  "time",
  "migrate",
  "offline",
  "json",
]

[dependencies.tokio]
version = "1.24.2"
features = ["macros", "rt-multi-thread"]

[dev-dependencies]
rstest = "0.16.0"
wiremock = "0.5.17"
rusty-hook = "^0.11.2"