[package]
name = "swu-exporter"
version = "0.1.0"
edition = "2021"

[[bin]]
path = "src/main.rs"
name = "swu-exporter"

[dependencies]
swu-app = { path = "../server" }
google-sheets4 = "4.0.1"
serde = { version = "1.0.149", features = ["derive"] }
serde_json = "1.0.85"
time = { version = "0.3.14", features = ["std"] }
config = "0.13.3"
dotenvy = "0.15.5"

[dependencies.tokio]
version = "1.21.2"
features = ["macros", "rt-multi-thread"]

[dependencies.sqlx]
version = "0.6.2"
default-features = false
features = [
	"runtime-actix-rustls",
	"macros",
	"postgres",
	"uuid",
	"time",
	"migrate",
	"offline",
	"json",
]

[dev-dependencies]
rstest = "0.15.0"
rand = "0.8.5"
